<!DOCTYPE html>
<html lang="fa">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>تقویم</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <div id="showResult">
        </div>
        <br>
        <div id="tooltip" style="display: none">
        </div>
        <div class="calendar-wrapper">
            <div class="calendar-base">
                <div class="year-wrapper">
                </div>

                <div class="months">
                    <span class="month-hover month-letter month-letter-1" data-num="1">فروردین</span>
                    <span class="month-hover month-letter month-letter-2" data-num="2">اردیبهشت</span>
                    <span class="month-hover month-letter month-letter-3" data-num="3">خرداد</span>
                    <span class="month-hover month-letter month-letter-4" data-num="4">تیر</span>
                    <span class="month-hover month-letter month-letter-5" data-num="5">مرداد</span>
                    <span class="month-hover month-letter month-letter-6" data-num="6">شهریور</span>
                    <span class="month-hover month-letter month-letter-7" data-num="7">مهر</span>
                    <span class="month-hover month-letter month-letter-8" data-num="8">آبان</span>
                    <span class="month-hover month-letter month-letter-9" data-num="9">آذر</span>
                    <span class="month-hover month-letter month-letter-10" data-num="10">دی</span>
                    <span class="month-hover month-letter month-letter-11" data-num="11">بهمن</span>
                    <span class="month-hover month-letter month-letter-12" data-num="12">اسفند</span>
                </div>
                <hr class="month-line" />

                <div class="days">
                    <ul class="weeks">
                        <li>شنبه</li>
                        <li>یکشنبه</li>
                        <li>دوشنبه</li>
                        <li>سه شنبه</li>
                        <li>چهارشنبه</li>
                        <li>پنجشنبه</li>
                        <li>جمعه</li>                        
                    </ul>                    
                </div>

                <div id="testButton" class="num-dates"></div>
                <div id="overlay"></div>
                <div id="popup">
                    <b id="messageStr"></b>
                    <textarea id="popupText"></textarea>
                    <button id="saveButton">ذخیره</button>
                </div>
                <div class="calendar-left">
                    <div class="num-date">X</div>
                    <div class="day">X</div>
                </div>
            </div>


        </div>
        <div class="clearfix"></div>


        <script src="/js/calendarObject.js"></script>
        <script src="/js/DateApp.js"></script>
        <script src="/js/main.js"></script>
    </body>

</html>